.a {
    color: aqua;
}

.ActiveTile {
    background-color: white;
    width: 50px;
    height: 60px;
    vertical-align: top;
}

.DeactiveTile {
    background-color: gray;
    width: 50px;
    height: 60px;
    vertical-align: top;
}

.SelectedTile {
    background-color: lightskyblue;
    width: 50px;
    height: 60px;
    vertical-align: top;
}
